<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  

  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cn.edu.bzu.group12.pangpython.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.bzu.group12.pangpython.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>news</servlet-name>
  	<servlet-class>cn.edu.bzu.group12.pangpython.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.bzu.group12.pangpython.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>cn.edu.bzu.group12.pangpython.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>cn.edu.bzu.group12.pangpython.servlet.UserEditServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>news</servlet-name>
  	<url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/useradd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>edituser</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
